
@{
    ViewBag.Title = "PartialTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="/Content/Partial/ScorllDatepicker.css" rel="stylesheet" />
}
<div class="main">
    <div class="form">
        <div class="pg_sec2 pg_sec5">
            <dl>
                <dd>
                    <span>装车时间</span>
                    <usetime-picker v-bind:ob="model" v-bind:obkey="'use_time'" v-bind:option="{placeholder:'点击选择装车时间'}"></usetime-picker>
                </dd>
            </dl>
        </div>
        <input type="button" value="test" v-on:click="test" />
    </div>
</div>
@section scripts{
    @Html.Action("Template", "Partial", new { id = "UseTimepicker" })
    <script>
        var listVm = new Vue({
            el: '.main',
            data: {
                model: {
                    use_time: ''
                }
            },
            methods: {
                test: function () {
                    console.log(this.model);
                    console.log(this.model.use_time);
                }
            }
        });
    </script>
}

