
@{
    ViewBag.Title = "我要赚钱";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_WhiteStyle")
<div class="main">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
        </div>
    </div>
    <div class="em_box">
        <span>我的赚钱码</span>
        <img class="em_code" src="@ViewBag.QrUrl">
        <div class="em_fl">
            <span>返利流程图</span>
            <img src="/images/icon/icon23.png">
            <a href="javascript:void(0);" class="btn">立即分享</a>
        </div>
    </div>
</div>

