
@{
    ViewBag.Title = "我的发布";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
        </div>
    </div>
    <div class="tab-box">
        <ul class="pl_nav_ul tab-title">
            <li v-for="tabLi in tabList"
                v-bind:class="[{ 'active':(tabLi.pay_status==searchKey.pay_status && tabLi.status==searchKey.status && tabLi.expire==searchKey.expire) }]"
                v-on:click="selectTab(tabLi)">
                <a href="javascript:void(0);" v-text="tabLi.text"></a>
            </li>
        </ul>
        <div class="pl_form tab-content">
            <ul class="pl_form_ul">
                <li v-for="(item, index) in listData.list" v-bind:data-id="item.id">
                    <p class="title">
                        <span>发布时间：{{item.add_time|jsonFormart}}</span>
                        <span v-text="item.status_text"></span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img v-bind:src="item.add_avatar">
                            </div>
                            <div class="txt">
                                <span v-text="item.add_nickname"></span>
                                <p>
                                    <i class="lab2" v-text="item.cate"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a href="javascript:void(0);" class="btn1" v-if="item.set_top==0 && item.status!=2 && item.status_text.indexOf('已过期')<0">我要置顶</a>
                        <a href="javascript:void(0);" class="btn2" v-if="item.status_text.indexOf('显示中')==0">分享</a>
                        <a v-bind:href="'/User/Pay/'+item.order_no" class="btn3" v-if="item.status_text.indexOf('待付款')==0" >立即付款</a>
                        <a href="javascript:void(0);" class="btn2" v-if="item.status_text.indexOf('待付款')==0">重新编辑</a>
                        <a href="javascript:void(0);" class="btn2" v-if="item.status==2 || item.status_text.indexOf('已过期')==0" v-on:click="del(item,index)">删除</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="zhp_box hide">
        <p class="tt">选择置顶可以让更多的人看到</p>
        <ul>
            <li><input type="radio" name="name1" id="one" checked><label for="one">分类置顶（10元）</label></li>
            <li><input type="radio" name="name1" id="all"><label for="all">全站置顶（20元）</label></li>
        </ul>
        <a href="pay.asp" class="btn">确认置顶（共支付10元）</a>
    </div>
</div>
@section scripts{
    @Scripts.Render("/Scripts/User/Issue.js")
}
