
@{
    ViewBag.Title = "我的发布";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
        </div>
    </div>
    <div class="tab-box">
        <ul class="pl_nav_ul tab-title">
            <li v-for="tabLi in tabList" 
                v-bind:class="[{ 'active':(tabLi.pay_status==searchKey.pay_status && tabLi.status==searchKey.status && tabLi.expire==searchKey.expire) }]" 
                v-on:click="selectTab(tabLi)">
                <a href="javascript:void(0);" v-text="tabLi.text"></a>
            </li>
        </ul>
        <div class="pl_form tab-content">
            <ul class="pl_form_ul">
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>显示中 4月28日过期</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a href="javascript:void(0);" class="btn1">我要置顶</a>
                        <a href="javascript:void(0);" class="btn2">分享</a>
                    </div>
                </li>
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>待付款</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a href="javascript:void(0);" class="btn1">我要置顶</a>
                        <a href="javascript:void(0);" class="btn3">立即付款</a>
                        <a href="javascript:void(0);" class="btn2">重新编辑</a>
                    </div>
                </li>
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>待审核</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>已过期</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a href="javascript:void(0);" class="btn2">删除</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pl_form tab-content hide">
            <ul class="pl_form_ul">
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>显示中 4月28日过期</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a href="javascript:void(0);" class="btn1">我要置顶</a>
                        <a href="javascript:void(0);" class="btn2">分享</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pl_form tab-content hide">
            <ul class="pl_form_ul">
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>待付款</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a href="javascript:void(0);" class="btn1">我要置顶</a>
                        <a href="javascript:void(0);" class="btn3">立即付款</a>
                        <a href="javascript:void(0);" class="btn2">重新编辑</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pl_form tab-content hide">
            <ul class="pl_form_ul">
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>待审核</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pl_form tab-content hide">
            <ul class="pl_form_ul">
                <li>
                    <p class="title">
                        <span>发布时间：2018-03-28</span>
                        <span>已过期</span>
                    </p>
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab2">有货找车</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a href="javascript:void(0);" class="btn2">删除</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="zhp_box hide">
        <p class="tt">选择置顶可以让更多的人看到</p>
        <ul>
            <li><input type="radio" name="name1" id="one" checked><label for="one">分类置顶（10元）</label></li>
            <li><input type="radio" name="name1" id="all"><label for="all">全站置顶（20元）</label></li>
        </ul>
        <a href="pay.asp" class="btn">确认置顶（共支付10元）</a>
    </div>


    <script>
        $(".pl_form_ul li .btn_box .btn1").click(function () {
            layer.open({
                type: 1,
                title: '请选择置顶',
                content: $('.zhp_box'),
                offset: 'lb',
                area: ['100%', 'auto'],
                shade: 0.5,
                scrollbar: false,
                anim: 2
            });
        })
    </script>
</div>
@Scripts.Render("/Scripts/User/Issue.js")
