
@{
    ViewBag.Title = "我的团队——我的分销";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
        </div>
    </div>
    <ul class="md_sec">
       

        

        <li v-for="item in disData.list">
            <div class="pt1">
                <span>返利订单：{{item.order_no}}</span>
                <p v-text="item.title"></p>
            </div>
            <div class="pt2">
                <span>{{item.add_time|jsonFormart}}</span>
                <em>￥{{item.money.toFixed(2)}}</em>
            </div>
        </li>

        <li v-show="disData.list.length==0" style="text-align:center;line-height:1.2rem;color:#ccc;">
            暂无记录
        </li>
    </ul>
</div>

@section scripts{
    @Scripts.Render("/Scripts/User/MyDistribution.js")
}



