@{
    ViewBag.Title = "支付结果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="wrapper">
        <a href="javascript:history.go(-2);" class="back_btn">返回</a>
    </div>
</div>
<div class="pays_box">
    <img src="/images/icon/icon21.png">
    <p>支付成功</p>
</div>