
@{
    ViewBag.Title = "我的团队";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
            <a href="@Url.Action("MyDistribution","User")" class="wdd">我的分销</a>
        </div>
    </div>
    <ul class="tm_sec1">
        <li>
            团队人数（人）
            <span v-text="teamData.total_people_num"></span>
        </li>
        <li>
            团队收益（元）
            <span v-text="teamData.total_money.toFixed(2)"></span>
        </li>
    </ul>
    <ul class="tm_sec2">
        <li v-for="item in teamData.list">
            <a v-bind:href="'/User/SecondaryDistribution/'+item.source_userid">
                    <div class="pt1">
                        <img v-bind:src="item.source_user_avatar">
                    </div>
                    <div class="pt2">
                        <span v-text="item.source_user_nick"></span>
                        <p>加入时间：{{item.add_time|jsonFormart}}</p>
                    </div>
                    <div class="pt3">
                        <span>分销收益</span>
                        <em>￥{{item.total_money.toFixed(2)}}</em>
                    </div>
                </a>
        </li>
    </ul>
</div>
@Scripts.Render("/Scripts/User/Team.js")

