
@{
    ViewBag.Title = "我的团队";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
            <a href="@Url.Action("MyDistribution","User")" class="wdd">我的分销</a>
        </div>
    </div>
    <ul class="tm_sec1">
        <li>
            团队人数（人）
            <span>2</span>
        </li>
        <li>
            团队收益（元）
            <span>528.16</span>
        </li>
    </ul>
    <ul class="tm_sec2">
        @for (int i = 0; i < 7; i++)
        {
        <li>
            <a href="@Url.Action("SecondaryDistribution","User",new { id=0})">
                <div class="pt1">
                    <img src="/images/icon/icon06.png">
                </div>
                <div class="pt2">
                    <span>美好的未来</span>
                    <p>加入时间：2018-03-28</p>
                </div>
                <div class="pt3">
                    <span>分销收益</span>
                    <em>￥65.48</em>
                </div>
            </a>
        </li>
        }
    </ul>
</div>

