
@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Html.Partial("_WhiteStyle")
}
<div class="wallet">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
            <a href="@Url.Action("Withdraw","User")" class="wdd">提现</a>
        </div>
    </div>
    <div class="wal_box">
        <div class="wal_img">
            <img src="/images/icon/icon22.png">
        </div>
        <p class="wal_p" v-text="totalAmount.toFixed(2)"><span>我的余额</span></p>
    </div>

    <div class="wal_m">
        <p class="title">使用明细</p>
        <ul>

            <li v-for="item in walletChildData.list">
                <span v-text="item.money>0?'收入':'支出'"></span>
                <p>
                    <em>{{item.addtime|jsonFormart}}</em>
                    <i v-bind:class="{'expend':item.money<0,'income':item.money>0}" v-text="item.money>0?'+'+item.money:item.money"></i>
                </p>
            </li>
            @*<li>
                <span>收入</span>
                <p>
                    <em>2018-02-28</em>
                    <i class="income">+100</i>
                </p>
            </li>
            <li>
                <span>支出</span>
                <p>
                    <em>2018-02-28</em>
                    <i class="expend">-100</i>
                </p>
            </li>
            <li>
                <span>收入</span>
                <p>
                    <em>2018-02-28</em>
                    <i class="income">+100</i>
                </p>
            </li>
            <li>
                <span>支出</span>
                <p>
                    <em>2018-02-28</em>
                    <i class="expend">-100</i>
                </p>
            </li>
            <li>
                <span>收入</span>
                <p>
                    <em>2018-02-28</em>
                    <i class="income">+100</i>
                </p>
            </li>*@
        </ul>
        <a href="javascript:void(0);" v-on:click="loadMore" class="more_btn">查看更多</a>
    </div>
</div>
@section scripts{
    @Scripts.Render("/Scripts/User/Wallet.js")
}

