
@{
    ViewBag.Title = "提现";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @Html.Partial("_WhiteStyle")
}
<div class="withdraw">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
        </div>
    </div>
    <div class="form_main wd_main">
        <div class="wrapper">
                <p>
                    <input type="text" v-model="money" placeholder="请输入提现金额">
                </p>
                <input type="submit" v-on:click="withdraw()" value="提现">
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("/Scripts/User/Withdraw.js")
}

