
@{
    ViewBag.Title = "出售详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<div class="details">

    <ul class="ind_sec1_ul car_item">
        <li>
            <div class="wrapper">
                <div class="ind_main_t">
                    <div class="use">
                        <a href="car-source-details.asp">
                            <div class="img">
                                <img v-bind:src="newsData.add_avatar">
                            </div>
                            <div class="txt">
                                <span v-text="newsData.add_nickname"></span>
                                <p>
                                    <i class="lab1" v-show="newsData.set_top>0">置顶</i>
                                    <i class="lab2">二手车出售</i>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ind_main_m">
                    <p v-text="newsData.other_remark"></p>
                </div>
                <div class="zhc_container swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="img in imgs">
                            <img v-bind:src="img">
                        </div>
                        @*<div class="swiper-slide">
                            <img src="/images/img/img03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/img/img03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/img/img03.jpg">
                        </div>*@
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="details_main">
                    <dl>
                        <dt>价格：</dt>
                        <dd v-text="newsData.freight+'万'"></dd>
                    </dl>
                    <dl>
                        <dt>品牌：</dt>
                        <dd v-text="newsData.use_type"></dd>
                    </dl>
                    <dl>
                        <dt>车型：</dt>
                        <dd v-text="newsData.car_style"></dd>
                    </dl>
                    <dl>
                        <dt>马力：</dt>
                        <dd v-text="newsData.goods_weight+'马力'"></dd>
                    </dl>
                    <dl>
                        <dt>排放标准：</dt>
                        <dd v-text="newsData.car_length"></dd>
                    </dl>
                    <dl>
                        <dt>车辆所在地：</dt>
                        <dd v-text="newsData.start_city"></dd>
                    </dl>
                    <dl>
                        <dt>车辆户型：</dt>
                        <dd v-text="newsData.goods_type"></dd>
                    </dl>
                    <dl>
                        <dt>能否提档：</dt>
                        <dd v-text="newsData.use_mode"></dd>
                    </dl>
                    <dl>
                        <dt>行驶证登记时间：</dt>
                        <dd>
                            {{newsData.use_time|jsonFormart}}
                        </dd>
                    </dl>
                    <dl>
                        <dt>其他：</dt>
                        <dd v-text="newsData.other_remark"></dd>
                    </dl>
                </div>
                <div class="ind_time">
                    {{newsData.update_time|dateFormart('更新')}}
                </div>
                <div class="ind_flo">

                </div>
            </div>
        </li>
    </ul>
    <details-component v-bind:id="id"  v-bind:news-data="newsData"></details-component>
</div>
@Html.Partial("_Footer")
@Html.Action("Template", "Partial", new { id = "Details" })
@Scripts.Render("/Scripts/Project/CarSellDetails.js")