
@{
    ViewBag.Title = "货源信息详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<div class="mainDetails">

    <div class="el_item eld_item">
        <div class="wrapper">
            <div class="infor">
                <div class="infor_p1">
                    <span v-text="goodsData.start_province+goodsData.start_city"></span>
                    <i></i><!-- 中间的箭头符号 -->
                    <span v-text="goodsData.stop_province+goodsData.stop_city"></span>
                    <em v-show="goodsData.set_top>0">置顶</em>
                </div>
                <div class="infor_p2">
                    <i class="lab1" v-show="goodsData.use_type" v-text="goodsData.use_type"></i>
                    <i class="lab2" v-show="goodsData.car_style" v-text="goodsData.car_style"></i>
                    <i class="lab3" v-show="goodsData.car_length" v-text="goodsData.car_length+'米'"></i>
                    <i class="lab4" v-show="goodsData.goods_type" v-text="goodsData.goods_type"></i>
                </div>
                <div class="infor_p3">
                    <div class="img">
                        <img v-bind:src="goodsData.add_avatar">
                    </div>
                    <div class="txt" v-text="goodsData.add_nickname">
                    </div>
                    <div class="date">
                        {{goodsData.update_time|dateFormart('更新')}}
                    </div>
                </div>
            </div>
            <div class="details_main">
                <dl>
                    <dt>行驶路线：</dt>
                    <dd v-text="goodsData.start_province+'—'+goodsData.stop_province"></dd>
                </dl>
                <dl>
                    <dt>用车类型：</dt>
                    <dd v-text="goodsData.use_type"></dd>
                </dl>
                <dl>
                    <dt>车型：</dt>
                    <dd v-text="goodsData.car_style"></dd>
                </dl>
                <dl>
                    <dt>车长：</dt>
                    <dd v-text="goodsData.car_length+'米'"></dd>
                </dl>
                <dl>
                    <dt>货物类型：</dt>
                    <dd v-text="goodsData.goods_type"></dd>
                </dl>
                <dl>
                    <dt>货物重量：</dt>
                    <dd v-text="goodsData.goods_weight+goodsData.goods_weight_unit"></dd>
                </dl>
                <dl>
                    <dt>运费金额：</dt>
                    <dd v-text="goodsData.freight+'元'"></dd>
                </dl>
                <dl>
                    <dt>装车时间：</dt>
                    <dd>
                        {{goodsData.use_time|jsonFormart}}
                    </dd>
                </dl>
                <dl>
                    <dt>装卸方式：</dt>
                    <dd v-text="goodsData.use_mode"></dd>
                </dl>
                <dl>
                    <dt>付款方式：</dt>
                    <dd v-text="goodsData.pay_method"></dd>
                </dl>
                <dl>
                    <dt>其他：</dt>
                    <dd v-text="goodsData.other_remark">
                    </dd>
                </dl>
            </div>
            <div class="flo">
                <ol class="clearfix">
                    <li>
                        <img src="/images/icon/icon03_1.png">
                        <span v-text="goodsData.view_num"></span>
                    </li>
                    <li>
                        <img src="/images/icon/icon03_2.png">
                        <img src="/images/icon/icon03_4.png">
                        <span v-text="goodsData.praise_num"></span>
                    </li>
                    <li>
                        <img src="/images/icon/icon03_3.png">
                        <span  v-text="goodsData.share_num"></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="eld_item2">
        <div class="wrapper">
            <dl>
                <dt>联系电话</dt>
                <dd>
                    <span v-text="goodsData.contact_phone"></span>
                    <a class="btn" v-bind:href="'tel://'+goodsData.contact_phone"><img src="/images/icon/icon12.png">打电话</a>
                </dd>
            </dl>
            <dl>
                <dt>联系人</dt>
                <dd>
                    <span v-text="goodsData.contact_name"></span>
                </dd>
            </dl>
        </div>
    </div>

    <!-- 广告 -->
    <img src="/images/img/img01.jpg">

    <!-- 留言 -->
    <div class="eld_item3">
        <p class="p_tt">
            <span>留言</span>
            <a href="javascript:void(0);" v-on:click="showReview('comment')" class="btn"><img src="/images/icon/icon13.png">我要留言</a>
        </p>
        <ul class="eld_item3_ul">
            <li v-for="item in reviewData.list">
                <div class="img_box">
                    <img v-bind:src="item.avatar">
                </div>
                <div class="txt_box" v-bind:class="{'open':item.classOpen}">
                    <p class="p1" v-text="item.nickname"></p>
                    <p class="p2">{{item.add_time|dateFormart('更新')}}</p>
                    <p class="p3" v-text="item.review_content"></p>
                    <i class="txt_box_btn" v-on:click="changeClass(item)" v-text="item.classText"></i>
                    <a href="javascript:void(0);" v-on:click="showReview('reply',item.id)" class="reply_btn">回复</a>
                </div>
                <div class="reply_box" v-for="p in item.reply_list">
                    <dl>
                        <dt v-text="p.nickname+'：'"></dt>
                        <dd v-text="p.review_content"></dd>
                    </dl>
                </div>
            </li>
        </ul>
        <a href="javascript:void(0);" v-on:click="loadMoreReview()" class="more_btn">加载更多</a>
    </div>

    <!-- 打电话 -->
    <div class="eld_item4">
        <a  v-bind:href="'tel://'+goodsData.contact_phone" class="call_btn">打电话</a>
    </div>

    <!-- 猜你喜欢 -->
    <div class="ind_sec1">
        <p class="p_tt"><span>猜你喜欢</span></p>
        <ul class="ind_sec1_ul">
            <li v-for="z in likeData">
                <div class="wrapper">
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img v-bind:src="z.add_avatar">
                            </div>
                            <div class="txt">
                                <span v-text="z.add_nickname"></span>
                                <p>
                                    <i class="lab1" v-show="z.set_top>0">置顶</i>
                                    <i class="lab2" v-show="z.cateid==1">有货找车</i>
                                    <i class="lab2" v-show="z.cateid==2">有车着火</i>
                                    <i class="lab2" v-show="z.cateid==3">招聘司机</i>
                                    <i class="lab2" v-show="z.cateid==4">司机求职</i>
                                    <i class="lab2" v-show="z.cateid==5">二手车出售</i>
                                    <i class="lab2" v-show="z.cateid==6">车辆求购</i>
                                    <i class="lab2" v-show="z.cateid==7">其它</i>
                                </p>
                            </div>
                        </div>
                        <div class="call">
                            <a  v-bind:href="'tel://'+z.contact_phone">
                                <img src="/images/icon/icon02.png">
                                <span>打电话</span>
                            </a>
                        </div>
                    </div>
                    <div class="ind_main_m">
                        <p v-text="z.other_remark"></p>
                    </div>
                    <div class="ind_lab">
                        <i class="lab1" v-show="z.use_type" v-text="z.use_type"></i>
                        <i class="lab2" v-show="z.car_style" v-text="z.car_style"></i>
                        <i class="lab3" v-show="z.car_length" v-text="z.car_length+'米'"></i>
                        <i class="lab4" v-show="z.goods_type" v-text="z.goods_type"></i>
                    </div>
                    <div class="ind_time">{{z.use_time|dateFormart('更新')}}</div>
                    <div class="ind_flo">
                        <ol class="clearfix">
                            <li>
                                <img src="/images/icon/icon03_1.png">
                                <span v-text="z.view_num"></span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_2.png">
                                <span v-text="z.praise_num"></span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_3.png">
                                <span  v-text="z.share_num"></span>
                            </li>
                        </ol>
                    </div>
                </div>
            </li>
            @*<li>
                <div class="wrapper">
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab1">置顶</i><i class="lab2">二手车出售</i>
                                </p>
                            </div>
                        </div>
                        <div class="call">
                            <a href="javascript:void(0);">
                                <img src="/images/icon/icon02.png">
                                <span>打电话</span>
                            </a>
                        </div>
                    </div>
                    <div class="ind_main_m">
                        <p>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快速匹配附近的货车资源，并以低价获得优质的货运服务；广大货车司机亦可借助货拉拉迅速对接到客户需求，大大提升货车利用效率，进而获得更为丰厚的收入回报</p>
                    </div>
                    <div class="ind_lab">
                        <i class="lab1">36万</i>
                        <i class="lab2">解放</i>
                        <i class="lab4">牵引车</i>
                    </div>
                    <div class="ind_img">
                        <img src="/images/img/img02.jpg">
                        <img src="/images/img/img02.jpg">
                        <img src="/images/img/img02.jpg">
                        <img src="/images/img/img02.jpg">
                    </div>
                    <div class="ind_time">2分钟前更新</div>
                    <div class="ind_flo">
                        <ol class="clearfix">
                            <li>
                                <img src="/images/icon/icon03_1.png">
                                <span>2132</span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_2.png">
                                <span>2132</span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_3.png">
                                <span>2132</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img src="/images/icon/icon06.png">
                            </div>
                            <div class="txt">
                                <span>美好的未来</span>
                                <p>
                                    <i class="lab1">置顶</i><i class="lab2">司机求职</i>
                                </p>
                            </div>
                        </div>
                        <div class="call">
                            <a href="javascript:void(0);">
                                <img src="/images/icon/icon02.png">
                                <span>打电话</span>
                            </a>
                        </div>
                    </div>
                    <div class="ind_main_m">
                        <p>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快速匹配附近的货车资源，并以低价获得优质的货运服务；广大货车司机亦可借助货拉拉迅速对接到客户需求，大大提升货车利用效率，进而获得更为丰厚的收入回报</p>
                    </div>
                    <div class="ind_lab">
                        <i class="lab1">B2</i>
                        <i class="lab2">上海</i>
                        <i class="lab4">载货车</i>
                    </div>
                    <div class="ind_time">2分钟前更新</div>
                    <div class="ind_flo">
                        <ol class="clearfix">
                            <li>
                                <img src="/images/icon/icon03_1.png">
                                <span>2132</span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_2.png">
                                <span>2132</span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_3.png">
                                <span>2132</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </li>*@
        </ul>
    </div>

    <div class="zhp_message_box hide">
        <textarea v-model="reviewInfo.review_content" placeholder="请输入留言内容"></textarea>
        <a href="javascript:;"  v-on:click="addReview()" class="btn">提交</a>
    </div>
</div>



@Html.Partial("_Footer")
@Scripts.Render("/Scripts/Project/GoodsSourceDetails.js")
<script>
    //$(function () {
    //    var $txt_box = $(".txt_box");
    //    $txt_box.each(function () {
    //        var num = 0;
    //        $(this).find(".txt_box_btn").click(function () {
    //            if (num == 0) {
    //                $(this).text('收起');
    //                $(this).parent().addClass('open');
    //                num = 1;
    //            } else {
    //                $(this).text('全文');
    //                $(this).parent().removeClass('open');
    //                num = 0;
    //            }
    //        })
    //    })
    //})


    //$(".reply_btn, .p_tt .btn").click(function () {
    //    layer.open({
    //        type: 1,
    //        title: '留言',
    //        content: $('.zhp_message_box'),
    //        offset: 'lb',
    //        area: ['100%', 'auto'],
    //        shade: 0.5,
    //        scrollbar: false,
    //        anim: 2
    //    });
    //})
</script>