@{
    ViewBag.Title = "货源信息";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Partial("_Header")
<div class="el_top">
    <div class="wrapper">
        <ul class="el_top_ul">
            <li><a class="city">出发地<i></i></a></li>
            <li><a class="city">到达地<i></i></a></li>
            <li><a class="car_type">用车车型<i></i></a></li>
            <li><a class="more">更多<i></i></a></li>
        </ul>
    </div>
</div>
<div class="el_item">
    <div class="wrapper">
        <div class="infor">
            <a href="@Url.Action("GoodsSourceDetails","Project",new { id=0})">
                <div class="infor_p1">
                    <span>四川成都</span>
                    <i></i>
                    <!-- 中间的箭头符号 -->
                    <span>四川宜宾</span>
                    <em>置顶</em>
                </div>
                <div class="infor_p2">
                    <i class="lab1">整车</i>
                    <i class="lab2">平板</i>
                    <i class="lab3">17.5米</i>
                    <i class="lab4">高栏</i>
                </div>
                <div class="infor_p3">
                    <div class="img">
                        <img src="/images/icon/icon06.png">
                    </div>
                    <div class="txt">
                        美好的未来
                    </div>
                    <div class="date">
                        2分钟前更新
                    </div>
                </div>
            </a>
            <div class="infor_p4">
                <a href="###">
                    <img src="/images/icon/icon02.png">
                    <span>打电话</span>
                </a>
            </div>
        </div>
        <div class="flo">
            <ol class="clearfix">
                <li>
                    <img src="/images/icon/icon03_1.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_2.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_3.png">
                    <span>2132</span>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="el_item">
    <div class="wrapper">
        <div class="infor">
            <a href="goods-source-details.asp">
                <div class="infor_p1">
                    <span>四川成都</span>
                    <i></i>
                    <!-- 中间的箭头符号 -->
                    <span>四川宜宾</span>
                    <em>置顶</em>
                </div>
                <div class="infor_p2">
                    <i class="lab1">整车</i>
                    <i class="lab2">平板</i>
                    <i class="lab3">17.5米</i>
                    <i class="lab4">高栏</i>
                </div>
                <div class="infor_p3">
                    <div class="img">
                        <img src="/images/icon/icon06.png">
                    </div>
                    <div class="txt">
                        美好的未来
                    </div>
                    <div class="date">
                        2分钟前更新
                    </div>
                </div>
            </a>
            <div class="infor_p4">
                <a href="###">
                    <img src="/images/icon/icon02.png">
                    <span>打电话</span>
                </a>
            </div>
        </div>
        <div class="flo">
            <ol class="clearfix">
                <li>
                    <img src="/images/icon/icon03_1.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_2.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_3.png">
                    <span>2132</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="el_item">
    <div class="wrapper">
        <div class="infor">
            <a href="goods-source-details.asp">
                <div class="infor_p1">
                    <span>四川成都</span>
                    <i></i>
                    <!-- 中间的箭头符号 -->
                    <span>四川宜宾</span>
                    <em>置顶</em>
                </div>
                <div class="infor_p2">
                    <i class="lab1">整车</i>
                    <i class="lab2">平板</i>
                    <i class="lab3">17.5米</i>
                    <i class="lab4">高栏</i>
                </div>
                <div class="infor_p3">
                    <div class="img">
                        <img src="/images/icon/icon06.png">
                    </div>
                    <div class="txt">
                        美好的未来
                    </div>
                    <div class="date">
                        2分钟前更新
                    </div>
                </div>
            </a>
            <div class="infor_p4">
                <a href="###">
                    <img src="/images/icon/icon02.png">
                    <span>打电话</span>
                </a>
            </div>
        </div>
        <div class="flo">
            <ol class="clearfix">
                <li>
                    <img src="/images/icon/icon03_1.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_2.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_3.png">
                    <span>2132</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="el_item">
    <div class="wrapper">
        <div class="infor">
            <a href="goods-source-details.asp">
                <div class="infor_p1">
                    <span>四川成都</span>
                    <i></i>
                    <!-- 中间的箭头符号 -->
                    <span>四川宜宾</span>
                    <em>置顶</em>
                </div>
                <div class="infor_p2">
                    <i class="lab1">整车</i>
                    <i class="lab2">平板</i>
                    <i class="lab3">17.5米</i>
                    <i class="lab4">高栏</i>
                </div>
                <div class="infor_p3">
                    <div class="img">
                        <img src="/images/icon/icon06.png">
                    </div>
                    <div class="txt">
                        美好的未来
                    </div>
                    <div class="date">
                        2分钟前更新
                    </div>
                </div>
            </a>
            <div class="infor_p4">
                <a href="###">
                    <img src="/images/icon/icon02.png">
                    <span>打电话</span>
                </a>
            </div>
        </div>
        <div class="flo">
            <ol class="clearfix">
                <li>
                    <img src="/images/icon/icon03_1.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_2.png">
                    <span>2132</span>
                </li>
                <li>
                    <img src="/images/icon/icon03_3.png">
                    <span>2132</span>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="zhp_box hide">
    <div class="cty_box">
        <a href="javascript:;" class="cur">不限</a>
        <a href="javascript:;">零担</a>
        <a href="javascript:;">整车</a>
    </div>
    <div class="sub_btn_box">
        <a href="###" class="cancle">重置</a>
        <a href="###" class="confirm">确定</a>
    </div>
</div>

<div class="zhx_box tab-box hide">
    <ul class="zhx_box_title tab-title">
        <li class="active"><a href="javascript:;">省</a></li>
        <li><a href="javascript:;">市</a></li>
        <li><a href="javascript:;">区</a></li>
    </ul>
    <div class="province clearfix tab-content">
        <a href="javascript:;">北京</a>
        <a href="javascript:;">天津</a>
        <a href="javascript:;">上海</a>
        <a href="javascript:;">重庆</a>
        <a href="javascript:;">河北</a>
        <a href="javascript:;">河南</a>
        <a href="javascript:;">山东</a>
        <a href="javascript:;">山西</a>
        <a href="javascript:;">陕西</a>
        <a href="javascript:;">安徽</a>
        <a href="javascript:;">江苏</a>
        <a href="javascript:;">浙江</a>
        <a href="javascript:;">湖北</a>
        <a href="javascript:;">湖南</a>
        <a href="javascript:;">江西</a>
        <a href="javascript:;">福建</a>
        <a href="javascript:;">广东</a>
        <a href="javascript:;">广西</a>
        <a href="javascript:;">辽宁</a>
        <a href="javascript:;">吉林</a>
        <a href="javascript:;">贵州</a>
        <a href="javascript:;">云南</a>
        <a href="javascript:;">海南</a>
        <a href="javascript:;">四川</a>
        <a href="javascript:;">黑龙江</a>
        <a href="javascript:;">内蒙古</a>
        <a href="javascript:;">甘肃</a>
        <a href="javascript:;">宁夏</a>
        <a href="javascript:;">青海</a>
        <a href="javascript:;">新疆</a>
        <a href="javascript:;">西藏</a>
    </div>
    <div class="city clearfix tab-content hide">市</div>
    <div class="region clearfix tab-content hide">区</div>
    <div class="sub_btn_box">
        <a href="###" class="cancle">重置</a>
        <a href="###" class="confirm">确定</a>
    </div>
</div>

<div class="zhj_box hide">
    <div class="cty_box">
        <p>车长<span>（米，可选）</span></p>
        <a class="cur" href="javascript:;">不限</a>
        <a href="javascript:;">4.2</a>
        <a href="javascript:;">4.5</a>
        <a href="javascript:;">5</a>
        <a href="javascript:;">5.2</a>
        <a href="javascript:;">6.2</a>
        <a href="javascript:;">6.8</a>
        <a href="javascript:;">7.2</a>
        <a href="javascript:;">7.6</a>
        <a href="javascript:;">8.2</a>
        <a href="javascript:;">8.6</a>
        <a href="javascript:;" class="m_btn">更多</a>
    </div>

    <div class="cty_box">
        <p>车型</p>
        <a class="cur" href="javascript:;">不限</a>
        <a href="javascript:;">平板</a>
        <a href="javascript:;">高栏</a>
        <a href="javascript:;">厢式</a>
        <a href="javascript:;">高低板</a>
        <a href="javascript:;">保温</a>
        <a href="javascript:;">冷藏</a>
        <a href="javascript:;">危险品</a>
        <a href="javascript:;">自卸</a>
        <a href="javascript:;">中卡</a>
        <a href="javascript:;">面包</a>
    </div>
    <div class="sub_btn_box">
        <a href="###" class="cancle">重置</a>
        <a href="###" class="confirm">确定</a>
    </div>
</div>
@Html.Partial("_Footer")
<script type="text/javascript">
    $(".car_type").click(function () {
        layer.open({
            type: 1,
            title: '用车类型',
            content: $('.zhp_box'),
            offset: 'lb',
            area: ['100%', 'auto'],
            shade: 0.5,
            scrollbar: false,
            anim: 2
        });
    })

    $(".city").click(function () {
        layer.open({
            type: 1,
            title: '地区选择',
            content: $('.zhx_box'),
            offset: 'lb',
            area: ['100%', 'auto'],
            shade: 0.5,
            scrollbar: false,
            anim: 2
        });
    })

    $(".more").click(function () {
        layer.open({
            type: 1,
            title: '货源筛选',
            content: $('.zhj_box'),
            offset: 'lb',
            area: ['100%', 'auto'],
            shade: 0.5,
            scrollbar: false,
            anim: 2
        });
    })

    $(function () {
        var $dd = $(".cty_box");
        $dd.each(function () {
            $(this).find("a:not('.m_btn')").click(function () {
                $(this).addClass("cur").siblings("a:not('.m_btn')").removeClass("cur");
            })
        })
    })
</script>

