
@{
    ViewBag.Title = "发布通用模板";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="/Content/Project/Project.css" rel="stylesheet" />

}
<div class="main">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
            @*<a href="javascript:void(0);" class="wdd">发布须知</a>*@
            <post-help-dialog></post-help-dialog>
        </div>
    </div>
    <div class="banner">
        @Html.Action("AdList", "Partial", new { code = "push_temp_banner" })
    </div>
    <div class="pg_sec1">
        <ul class="">
            <li class="li1">
                <span>有效期</span>
                <input type="text" placeholder="请输入有效期" v-model="model.validity_num">
                <div class="ro_box">
                    <input type="radio" value="天" id="day" checked v-model="model.validity_unit"><label for="day">天</label>
                    <input type="radio" value="月" id="mounth" v-model="model.validity_unit"><label for="mounth">月</label>
                </div>
            </li>
            <li>
                <p>本类信息支付费用说明：{{validity_unit_day_money}}元/天，{{validity_unit_month_money}}元/月</p>
            </li>
        </ul>
    </div>


    <div class="pg_sec3 MB10">
        <dl>
            <dt>标签选择</dt>
            <dd>
                <a href="javascript:;" v-for="item in tagsData"
                   v-bind:class="[{ 'cur': tagsSelect.indexOf(item.title)>=0 }]"
                   v-text="item.title" v-on:click="tagsClick(item)"></a>
            </dd>
        </dl>
    </div>

    <div class="pcs_sec3">
        <span>图片上传</span>
        <a href="javascript:void(0);">
            <img class="upimg" v-for="item in imgsData" v-bind:src="item">
            <img class="upimg" src="/images/icon/icon30.png" v-on:click="upload">
        </a>
        <em>最多上传5张图片</em>
    </div>

    <div class="pg_sec3 pg_sec6">
        <dl>
            <dt>其他补充</dt>
            <dd>
                <textarea placeholder="请填写其他补充信息" v-model="model.other_remark"></textarea>
            </dd>
        </dl>
    </div>

    <contact v-bind:ob="model" v-bind:name="'contact_name'" v-bind:phone="'contact_phone'"></contact>
    <div class="pg_sec8 pg_sec9">
        <dl>
            <dt>增值服务</dt>
            <dd class="active">
                <div class="pt1">
                    <img src="/images/icon/icon27_1.png">
                </div>
                <div class="pt2">
                    <span>分类置顶</span>
                    <p>将在此分类也置顶显示，更能多人看到</p>
                </div>
                <div class="pt3">
                    <span>{{top_cate_money}}元</span>
                    <i v-on:click="topCate"></i>
                </div>
            </dd>
            <dd>
                <div class="pt1">
                    <img src="/images/icon/icon27_2.png">
                </div>
                <div class="pt2">
                    <span>全站置顶</span>
                    <p>全站所有分类置顶显示，效果更好</p>
                </div>
                <div class="pt3">
                    <span>{{top_all_money}}元</span>
                    <i v-on:click="topAll"></i>
                </div>
            </dd>
        </dl>
    </div>

    <div class="pg_sec8 pg_sec10">
        <dl>
            <dd>
                <div class="pt1">
                    <img src="/images/icon/icon27_3.png">
                </div>
                <div class="pt2">
                    <span>打赏福利</span>
                    <p>客服将优先多渠道推送</p>
                </div>
                <div class="pt3">
                    <span>{{model.reward_money}}元</span>
                    <i v-on:click="rewardClick"></i>
                </div>
                <div class="clear"></div>
                <div class="pt4">
                    <div class="txt_n">
                        <a href="javascript:;" v-for="item in rewardMoneyData"
                           v-bind:class="[{ 'cur': item.title==model.reward_money }]"
                           v-text="item.title" v-on:click="model.reward_money=item.title"></a>
                    </div>
                    <p>
                        <span>手动输入打赏金额</span>
                        <input type="text" placeholder="请输入打赏金额" v-model="model.reward_money">
                    </p>
                </div>

            </dd>
        </dl>
        <a v-on:click="submit" class="btn">确认发布（共支付<label class="total">{{model.total}}</label>元）</a>
    </div>
    <input type="file" name="file" id="file" style="display:none;" v-on:change="fileChange" />
</div>
@section scripts{
    @Html.Action("Template", "Partial", new { id = "PostHelpDialog" })
    @Html.Action("Template", "Partial", new { id = "Contact" })
    <script src="~/Scripts/Project/PostTemplate.js"></script>
    <script>
        var mySwiper = new Swiper('.banner .swiper-container', {
            // autoplay: 5000,
            pagination: '.swiper-pagination',
            loop: true,
        })

        $(function () {
            var $dd = $(".pg_sec3 dd");
            $dd.each(function () {
                $(this).find("a:not('.m_btn')").click(function () {
                    $(this).addClass("cur").siblings("a:not('.m_btn')").removeClass("cur");
                })
            })
        })

        $(function () {
            var $a = $(".pg_sec8 .pt4 .txt_n a");

            $a.click(function () {
                $(this).addClass("cur").siblings().removeClass("cur");
            })

        })

        $(function () {
            var $dd = $(".pg_sec8 dl dd");
            var $dd_t = $(".pg_sec10 dl dd")
            $dd.each(function () {
                $(this).find("i").click(function () {
                    $(this).parents("dd").toggleClass("active").siblings().removeClass("active");
                    (function () {
                        if ($dd_t.hasClass("active")) {
                            $(".pg_sec10 dl dd .pt4").show();
                        } else {
                            $(".pg_sec10 dl dd .pt4").hide();
                        }
                    }())
                })
            })
        })
    </script>
}