@{
    ViewBag.Title = "订阅列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="/Content/Project/Project.css" rel="stylesheet" />
}
@Html.Partial("_Header")

<div class="main hide" v-bind:class="['show']">
    <div class="top">
        <div class="wrapper">
            <a href="javascript:history.go(-1);" class="back_btn">返回</a>
        </div>
    </div>
    <ul class="ind_sec1_ul">
        <li v-for="item in listData.list">
            <list-component v-bind:item="item" v-if="item"></list-component>
        </li>
    </ul>
</div>
@section scripts{
    @Html.Action("Template", "Partial", new { id = "List" })
    @Scripts.Render("/Scripts/Project/SourceSubscribe.js")
}