
@{
    ViewBag.Title = "列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")
@section styles{
    <link href="/Content/Project/Project.css" rel="stylesheet" />
}
<div class="main">
    @*<div class="el_top">
            <div class="wrapper">
                <ul class="el_top_ul">
                    <li><a>出发地<i></i></a></li>
                    <li><a>到达地<i></i></a></li>
                    <li><a>空车<i></i></a></li>
                    <li><a>更多<i></i></a></li>
                </ul>
            </div>
        </div>*@
    <ul class="ind_sec1_ul">
        <li v-for="item in listData.list">
            <list-component v-bind:item="item" v-if="item"></list-component>
        </li>
        <li v-if="noneData" class="none-data">
            抱歉!此地区信息被抢空
            <br />
            邀请您成为地区合伙人
            <br />
            月入万元
            <a class="earn-money" href="/User/EarnMoney"><<点击查看</a>
        </li>
    </ul>
</div>
@Html.Partial("_Footer")
@section scripts{
    @Html.Action("Template", "Partial", new { id = "List" })
    @Scripts.Render("/Scripts/Project/Template.js")
}