

@{
    ViewBag.Title = "详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")
<ul class="ind_sec1_ul car_item">
    <li>
        <div class="wrapper">
            <div class="ind_main_t">
                <div class="use">
                    <a href="car-source-details.asp">
                        <div class="img">
                            <img src="/images/icon/icon06.png">
                        </div>
                        <div class="txt">
                            <span>美好的未来</span>
                            <p>
                                <i class="lab1">置顶</i><i class="lab2">有车找货</i>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ind_main_m">
                <p>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快速匹配附近的货车资源，并以低价获得优质的货运服务；广大货车司机亦可借助货拉拉迅速对接到客户需求，大大提升货车利用效率，进而获得更为丰厚的收入回报</p>
            </div>
            <div class="details_main">
                <dl>
                    <dt>类型：</dt>
                    <dd>有车找货</dd>
                </dl>
                <dl>
                    <dt>车长：</dt>
                    <dd>4.2米</dd>
                </dl>
                <dl>
                    <dt>车型：</dt>
                    <dd>不限</dd>
                </dl>
                <dl>
                    <dt>行驶路线：</dt>
                    <dd>上海—广东</dd>
                </dl>
                <dl>
                    <dt>其他：</dt>
                    <dd>大家帮忙介绍</dd>
                </dl>
            </div>
            <div class="ind_time">2分钟前更新</div>
            <div class="ind_flo">
                <ol class="clearfix">
                    <li>
                        <a href="javascript:;">
                            <img src="/images/icon/icon03_1.png">
                            <span>2132</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="/images/icon/icon03_2.png">
                            <span>2132</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="/images/icon/icon03_3.png">
                            <span>2132</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </li>
</ul>


<div class="eld_item2">
    <div class="wrapper">
        <dl>
            <dt>联系电话</dt>
            <dd>
                <span>18812345678</span>
                <a class="btn" href="javascript:void(0);"><img src="/images/icon/icon12.png">打电话</a>
            </dd>
        </dl>
        <dl>
            <dt>联系人</dt>
            <dd>
                <span>王先生</span>
            </dd>
        </dl>
        <p class="lip">联系我时，请说在货车百事通看到的，谢谢！</p>
    </div>
</div>

<!-- 广告 -->
<img src="/images/img/img01.jpg">

<!-- 留言 -->
<div class="eld_item3">
    <p class="p_tt">
        <span>留言</span>
        <a href="javascript:void(0);" class="btn"><img src="/images/icon/icon13.png">我要留言</a>
    </p>
    <ul class="eld_item3_ul">
        <li>
            <div class="img_box">
                <img src="/images/icon/icon06.png">
            </div>
            <div class="txt_box">
                <p class="p1">美好的未来</p>
                <p class="p2">2分钟前更新</p>
                <p class="p3">业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快</p>
                <i class="txt_box_btn">全文</i>

                <a href="javascript:void(0);" class="reply_btn">回复</a>
            </div>
            <div class="reply_box">
                <dl>
                    <dt>沉默嬉皮士：</dt>
                    <dd>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。</dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="img_box">
                <img src="/images/icon/icon06.png">
            </div>
            <div class="txt_box">
                <p class="p1">美好的未来</p>
                <p class="p2">2分钟前更新</p>
                <p class="p3">业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快</p>
                <i class="txt_box_btn">全文</i>

                <a href="javascript:void(0);" class="reply_btn">回复</a>
            </div>
            <div class="reply_box">
                <dl>
                    <dt>沉默嬉皮士：</dt>
                    <dd>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。</dd>
                </dl>
            </div>
        </li>
    </ul>
    <a href="javascript:void(0);" class="more_btn">加载更多</a>
</div>

<!-- 打电话 -->
<div class="eld_item4">
    <a href="javascript:void(0);" class="call_btn">打电话</a>
</div>

<!-- 猜你喜欢 -->
<div class="ind_sec1">
    <p class="p_tt"><span>猜你喜欢</span></p>
    <ul class="ind_sec1_ul">
        <li>
            <div class="wrapper">
                <div class="ind_main_t">
                    <div class="use">
                        <div class="img">
                            <img src="/images/icon/icon06.png">
                        </div>
                        <div class="txt">
                            <span>美好的未来</span>
                            <p>
                                <i class="lab1">置顶</i><i class="lab2">有货找车</i>
                            </p>
                        </div>
                    </div>
                    <div class="call">
                        <a href="javascript:void(0);">
                            <img src="/images/icon/icon02.png">
                            <span>打电话</span>
                        </a>
                    </div>
                </div>
                <div class="ind_main_m">
                    <p>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快速匹配附近的货车资源，并以低价获得优质的货运服务；广大货车司机亦可借助货拉拉迅速对接到客户需求，大大提升货车利用效率，进而获得更为丰厚的收入回报</p>
                </div>
                <div class="ind_lab">
                    <i class="lab1">整车</i>
                    <i class="lab2">平板</i>
                    <i class="lab3">17.5米</i>
                    <i class="lab4">高栏</i>
                </div>
                <div class="ind_time">2分钟前更新</div>
                <div class="ind_flo">
                    <ol class="clearfix">
                        <li>
                            <img src="/images/icon/icon03_1.png">
                            <span>2132</span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_2.png">
                            <span>2132</span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_3.png">
                            <span>2132</span>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <div class="ind_main_t">
                    <div class="use">
                        <div class="img">
                            <img src="/images/icon/icon06.png">
                        </div>
                        <div class="txt">
                            <span>美好的未来</span>
                            <p>
                                <i class="lab1">置顶</i><i class="lab2">二手车出售</i>
                            </p>
                        </div>
                    </div>
                    <div class="call">
                        <a href="javascript:void(0);">
                            <img src="/images/icon/icon02.png">
                            <span>打电话</span>
                        </a>
                    </div>
                </div>
                <div class="ind_main_m">
                    <p>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快速匹配附近的货车资源，并以低价获得优质的货运服务；广大货车司机亦可借助货拉拉迅速对接到客户需求，大大提升货车利用效率，进而获得更为丰厚的收入回报</p>
                </div>
                <div class="ind_lab">
                    <i class="lab1">36万</i>
                    <i class="lab2">解放</i>
                    <i class="lab4">牵引车</i>
                </div>
                <div class="ind_img">
                    <img src="/images/img/img02.jpg">
                    <img src="/images/img/img02.jpg">
                    <img src="/images/img/img02.jpg">
                    <img src="/images/img/img02.jpg">
                </div>
                <div class="ind_time">2分钟前更新</div>
                <div class="ind_flo">
                    <ol class="clearfix">
                        <li>
                            <img src="/images/icon/icon03_1.png">
                            <span>2132</span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_2.png">
                            <span>2132</span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_3.png">
                            <span>2132</span>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <div class="ind_main_t">
                    <div class="use">
                        <div class="img">
                            <img src="/images/icon/icon06.png">
                        </div>
                        <div class="txt">
                            <span>美好的未来</span>
                            <p>
                                <i class="lab1">置顶</i><i class="lab2">司机求职</i>
                            </p>
                        </div>
                    </div>
                    <div class="call">
                        <a href="javascript:void(0);">
                            <img src="/images/icon/icon02.png">
                            <span>打电话</span>
                        </a>
                    </div>
                </div>
                <div class="ind_main_m">
                    <p>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快速匹配附近的货车资源，并以低价获得优质的货运服务；广大货车司机亦可借助货拉拉迅速对接到客户需求，大大提升货车利用效率，进而获得更为丰厚的收入回报</p>
                </div>
                <div class="ind_lab">
                    <i class="lab1">B2</i>
                    <i class="lab2">上海</i>
                    <i class="lab4">载货车</i>
                </div>
                <div class="ind_time">2分钟前更新</div>
                <div class="ind_flo">
                    <ol class="clearfix">
                        <li>
                            <img src="/images/icon/icon03_1.png">
                            <span>2132</span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_2.png">
                            <span>2132</span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_3.png">
                            <span>2132</span>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
    </ul>
</div>
@Html.Partial("_Footer")
<script>
    $(function () {
        var $txt_box = $(".txt_box");
        $txt_box.each(function () {
            var num = 0;
            $(this).find(".txt_box_btn").click(function () {
                if (num == 0) {
                    $(this).text('收起');
                    $(this).parent().addClass('open');
                    num = 1;
                } else {
                    $(this).text('全文');
                    $(this).parent().removeClass('open');
                    num = 0;
                }
            })
        })
    })
</script>
