html {
    font-family: 'Microsoft YaHei', 'STXihei', 'Helvetica', 'Hiragino Sans GB', sans-serif, Verdana;
    font-size: 312.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: auto;
    color: #333;
    background: #fff;
}

body, html {
    width: 100%;
    min-height: 100%;
    max-width: 640px;
    min-width: 320px;
    background: #ebebeb;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-size: .28rem;
}


a {
    background: transparent;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #666666;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    display: block;
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
    background: none;
    outline: none;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-webkit-input-placeholder{
    color: #dbdbdb;
}
input::-moz-input-placeholder{
    color: #dbdbdb;
}
input::-ms-input-placeholder{ 
    color: #dbdbdb;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    outline: none;
}
::-webkit-input-placeholder{
    color: #dbdbdb;
}

optgroup {
    font-weight: bold;
}

button, input {
    padding: 0;
    border: 0;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, hr, dt, dd, dl {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

em, i {
    font-style: normal;
}


header, nav, article, footer, address {
    display: block;
}



.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
    height: 0px;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 18px;
    padding: 2px 0px;
}
.hide {
    display: none;
}

.show {
    display: block;
}

.H5 {
    height: 5px;
}

.H10 {
    height: 10px;
}

.H15 {
    height: 15px;
}

.H20 {
    height: 20px;
}

.H25 {
    height: 25px;
}

.H30 {
    height: 30px;
}

.H35 {
    height: 35px;
}

.H40 {
    height: 40px;
}

.H45 {
    height: 45px;
}

.H50 {
    height: 50px;
}

.H60 {
    height: 60px;
}

.H75 {
    height: 75px;
}

.H100 {
    height: 100px;
}

.MB10 {
    margin-bottom: 10px;
}

