<div class="head">
    <div class="wrapper">
        @*<form>
            <input type="text" placeholder="路况信息 货源信息 车辆买卖">
            <input type="submit" value="搜索">
        </form>*@
    </div>
</div>
